.ubicacion {
    width: 90%;
    max-height: 700px;

    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: space-evenly;
    align-items: center;

    row-gap: 5rem;
    column-gap: 2rem;

    /* outline: 4px solid steelblue; */
}

.ubicacion__texto {
    flex: 1 1 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    /* outline: 3px dashed rgb(249, 71, 255); */
    row-gap: 2rem;
    column-gap: 1rem;

}

.ubicacion__texto h3 {
    /* outline: 3px dashed tomato; */

    color: orange;

    font-size: 3rem;
    flex: 1 1 100%;

    text-align: center;
}



.ubicacion__texto p {
    /* outline: 3px dashed tomato; */
    font-size: 1.5rem;
    flex: 1 1 100%;

    text-align: center;
}

.ubicacion__texto button {

    background-color: orange;
    border-radius: 15px;

    flex: 0 1 30%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.ubicacion__texto button a {
    /* outline: 3px dashed tomato; */

    color: white;

    text-decoration: none;
    font-size: 1.5rem;
    text-align: center;
}




/* ---------------------------------------- */
/* || SECCION DEL RESONSIVE - MEDIA QUERIES */
/* *** */

@media screen and (max-width: 990px) {
    #navmenu-principal {
        display: none;
    }

    .menu__lista {
        /* display: none; */
        position: fixed;
        top: 80px;

        height: 100vh;
        width: 80vw;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        transition: all 0.5s ease-in-out;

        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #F37335, #FDC830);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #F37335, #FDC830);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }

    .menu__lista li {
        list-style: none;
        color: #FEFEFE;
        font-size: 10vh;
        margin-left: 3ch;
        margin-right: 3ch;

        margin: auto;


        flex-basis: 1;

    }

    .menu__lista li a {
        list-style: none;
        color: #FEFEFE;
        font-size: 6vh;
        margin-left: 3ch;
        margin-right: 3ch;

        margin: auto;


        flex-basis: 1;
    }

    .menu__logo {
        max-height: 150px;
        display: flex;
        justify-content: center;
    }

    .icono {
        display: flex;


        cursor: pointer;
        color: #FEFEFE;
        font-size: 2rem;
    }

    .promociones>figure {
        width: 100%;
        height: 300px;
        object-fit: fill;
    }

    .menu-sect {
        width: 100%;
        height: 1000px;
        display: flex;
        flex-direction: column-reverse;
    }

    .menu-sect {
        width: 100%;
        height: 450px;
        margin-top: 2rem;
        display: flex;
    }

    .menu-sect__block {
        width: 100%;
        border-bottom-left-radius: 4rem;
        background-color: #fafafa;
    }

    .menu-sect__img {
        height: 40%;
        display: flex;
        justify-content: center;
    }

    .button--menu {
        margin: 0 auto;
        padding: 10px 10px 10px 10px;
        font-size: clamp(1.5rem, 1.2rem, 2rem);
        color: #FEFEFE;
        background-color: rgb(194, 126, 0);
        border-radius: 1rem;
    }

    .menu-sect__block h2 {
        color: rgb(194, 126, 0);
        font-size: clamp(2vw, 3vw, 3.5vw);
    }

    .menu-sect__block p {
        font-size: clamp(1.5vw, 2.5vw, 3vw);
    }

    /* SECCION DEL CONTENIDO - MAPA */

    .ubicacion {
        width: 100%;
        max-height: 100vh;

        margin-top: 2rem;
        margin-left: 0;
        margin-right: 0;

        display: flex;
        flex-flow: row-reverse wrap;
        justify-content: space-evenly;
        align-items: center;

        row-gap: 5rem;
        column-gap: 2rem;

        /* outline: 4px solid steelblue; */
    }

    .ubicacion__texto {
        flex: 1 1 100%;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;
        /* outline: 3px dashed rgb(249, 71, 255); */
        row-gap: 2rem;
        column-gap: 1rem;

    }

    .ubicacion__texto h3 {
        margin-top: 2vh;

        color: orange;

        font-size: 3rem;
        flex: 1 1 100%;

        text-align: center;
    }



    .ubicacion__texto p {
        /* outline: 3px dashed tomato; */
        font-size: 1.5rem;
        flex: 1 1 100%;

        text-align: center;
    }

    .ubicacion__texto button {

        background-color: orange;
        border-radius: 15px;

        flex: 0 1 30%;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .ubicacion__texto button a {
        /* outline: 3px dashed tomato; */

        color: white;

        text-decoration: none;
        font-size: 1.5rem;
        text-align: center;
    }

}